.quiz-container {
    position: absolute;
    left: 40%;
    top: 30%;
    height: 400px;
    width: 400px;
    background-color:aqua;
    border-radius: 15px;
}

.score-container {
    position: absolute;
    top: 5%;
    left: 45%;
    background-color: teal;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.btn {
    position: absolute;
    top: 70%;
    left: 35%;
    background-color: black;
    color: white;
}

.btn:hover {
    animation-name: rounded;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rounded {
    from {
        border-radius: 0px;
    }
    to {
        border-radius: 15px;
    }
}

.score {
  position: absolute;
  left: 17%;
  top: 25%;
}

#timer {
    position: relative;
    left: 40%;
}

.quiz-container p {
    position: absolute;
    top: 30%;
    left: 3%;
}

.quiz-container button {
    position: relative;
    top: 160px;
    margin: 10px 0 0 30px;
    min-width:20em;
    padding: 1.2em 1em 0;
    box-shadow:0 0 5px;
    border-radius:0.25em;
}